- if !current_user
  %span.btn.btn-danger.btn-mini.tooltip-bottom{title:"log in to like"}
    %i.icon-heart.icon-white
    = pluralize(@video.likes.count, 'like')
- elsif like = current_user.likes.find_by_video_id(@video.id)
  = form_for like, :html => { :method => :delete}, :remote => true do |f|
    = button_tag(type: 'submit', class:'btn btn-danger btn-mini') do
      %i.icon-heart.icon-white
      = pluralize @video.likes.count, 'like'
- else
  = form_for current_user.likes.build(:video_id => @video.id), :remote => true do |f|
    = f.hidden_field :video_id
    = f.hidden_field :user_id
    = button_tag(type: 'submit', class:'btn btn-danger btn-mini') do
      %i.icon-heart.icon-white
      = pluralize @video.likes.count, 'like'