= form_for @video, :class => "form-horizontal" do |f|
  - if @video.errors.any?
    .error_explanation
      %h2= pluralize(@video.errors.count, "error")
      prohibited this user from being saved:

      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg
          
  = f.label :title, 'Give your video a title :'
  .controls
    .input-prepend
      %span.add-on
        %i.icon-user
      = f.text_field :title, :class => "form-field video-title-field"
      
  = f.label :description
  = f.text_area :description, rows:"5", :class => "span7"
  
  = f.label :url, 'URL'
  .controls
    .input-prepend
      %span.add-on
        %i.icon-globe
      = f.text_field :url, :class => "form-field"
  
  .provider-form
    Provider
    .provider-radio-form
      = radio_button :video, :provider, 'vimeo'
      Vimeo
      %br
      = radio_button :video, :provider, 'youtube', checked:true
      Youtube
  
  Category
  %span.category-form= collection_select(:video, :category_id, Category.all, :id, :name, :include_blank => true)

  .form-actions
    = f.submit "Add video", :class => "btn btn-info btn-large", "data-disable-with"=> "Just a moment..."
  
  