.page-header
  %h1 Browse our stop motion gallery
  %small Filter the videos.

.filters= render 'layouts/nav-pills'
- if @filter
  %p.center-text
    filter by
    %span.label.label-important= @filter
  %br
            
%ul.thumbnails#videos
  - if @videos.nil? || @videos.empty?
    %p.margin-top-20
      %span.well No videos were found
  - else
  = render @videos

= will_paginate @videos

/
  .row
    .span3.filter-box
      .well.sidebar-nav
        %ul.nav.nav-list
          %li.nav-header Trending
          %li= link_to 'Most viewed', browse_path(trending:'views')
          %li= link_to 'Most liked', browse_path(trending:'likes')
          %li= link_to 'Most commented', browse_path(trending:'comments')
          %li= link_to 'Popular this week', browse_path(trending:'popular')
          %li.nav-header Categories
          - @categories.each do |cat|
            %li= link_to cat.name, browse_path(category:cat.name)
          %li.nav-header Date added
          %li= link_to 'Newest', browse_path(date:'newest')
          %li= link_to 'Oldest', browse_path(date:'oldest')
        
    .span9
      - if @filter
        %p.filter-text
          filter by
          %span.label.label-important
            = @filter
      %ul.thumbnails#videos
        = render :partial => "filtered", :collection => @videos
        
      
