.page-header
  %h1 The ultimate resource for stop-motion
  %small Browse, watch, add and learn.

.videos-container
  - n = 0
  - while n+4 < @videos.count do
    .row
      %ul.thumbnails            
        - @videos[n..n+3].each do |v|
          %li.span3
            .thumbnail
              = link_to image_tag(v.thumb, size:"260x145"), video_path(v)
              .thumb_info
                %h5= v.title
                %p
                  %i.icon-eye-open
                  = v.views
                  %i.icon-heart
                  = v.likes.count
    - n += 4
    
  = will_paginate @videos
  
