= @video.title
%br
= @video.description
%br
- if current_user
  #like
    = render 'likes/like_button', :video => @video
#like_count
  = @video.likes.count
%br
Views :
= @video.views
%br
= send('format_for_' + @video.provider.downcase, @video.provider_video_id)