#video-title
  %h1= @video.title
  %hr
.row-fluid.video
  .span7
    .video
      %iframe{id:'ytplayer', :width => 480, :height => 360, src:"http://www.youtube.com/embed/#{@video.provider_video_id}?&rel=0&theme=light&showinfo=0&hd=1&autohide=1&color=white", frameborder:'0'}
  .span5
    .well
      %p
        From 
        %span.label.label-important= @video.provider
      %p
        Created by
        %span.label.label-success.tooltip-right{title:"Creator"}= @video.creator
      %p
        Uploaded by
        %span.label.label-info.tooltip-right{title:"Uploader"}= @video.user.username
      %p
        Submitted in
        %span.label.label-warning.tooltip-right{title:"Category"}= @video.category.name
      %p
        Added
        %span.label.label-inverse= @video.created_at.strftime("%b %d, %I:%M %p")
      #like
        = render 'likes/like_button', :video => @video
      #views
        .btn.btn-danger.btn-mini
          %i.icon-eye-open.icon-white
          = pluralize(@video.views, "view")
      %hr
      %p
        %span.label.label-default.label-title= @video.title
      %p
        - if @video.description.empty?
          %span.light-text No description provided
        - else
          = @video.description
      
      = render 'shared/addthis'

.row
  .section.section-large
    .section-header
      %h3 Comments
    .section-body
      - if current_user
        #comment-form
          = render 'video_comments/comment_form'
      %ul
        #comments
          - if @comments.empty?
            %li No comments yet.
            %br
          - else
            = render @comments