#video-title
  %h1= @video.title
  %hr
.row-fluid.video
  .span6
    .video
      %iframe{id:'ytplayer', type:'text/html', width:'480', height:'360', src:"http://www.youtube.com/embed/#{@video.provider_video_id}?&rel=0&theme=light&showinfo=0&hd=1&autohide=1&color=white", frameborder:'0'}
  .span6
    .well
      .row-fluid
        .span6
          %p
            From 
            %span.label.label-important Youtube
          %p
            Uploaded by
            %span.label.label-info= @video.user.username
          %p
            Submitted in
            %span.label.label-warning= @video.category.name
          %p
            Added
            %span.label.label-inverse= @video.created_at.strftime("%b %d, %I:%M %p")
        .span6
          #like= render 'likes/like_button', :video => @video
          #like_count
            = @video.likes.count
            likes
          %span
            = @video.views
            views
      %hr
      %p
        %span.label.label-default= @video.title
      %p
        = @video.description
%h3 You might also like
%hr
.row  
  %ul.thumbnails
    - @suggestions.each do |s|
      %li.span3= link_to image_tag(s.thumb, size:'200x200'), videos_path(s), class:"thumbnail"
  
