= form_tag user_sessions_path, :method => :post do
  .field
    = label_tag :username
    .controls
    .input-prepend
      %span.add-on
        %i.icon-user
      = text_field_tag :username, nil, :class => "form-field"
  .field
    = label_tag :password
    .controls
    .input-prepend
      %span.add-on
        %i.icon-lock
      = password_field_tag :password, nil, :class => "form-field"
  .field
    Remember me
    = check_box_tag :remember_me
  %br
  .actions
  = submit_tag "Log in", class:"btn btn-warning btn-large", "data-disable-with"=> "Just a moment..."