%ul.nav.nav-pills.filter-box
  %li.active
    %a{href:'#','data-toggle' => 'collapse', 'data-target' => '#filter-box'}
      FILTERS
      %i.icon-resize-vertical.icon-white.margin-top-2
#filter-box.collapse
  %ul.nav.nav-pills
    %li
      %h4
        Trending
      %ul.filters-link
        %li= link_to 'Most viewed', browse_path(trending:'views')
        %li= link_to 'Most liked', browse_path(trending:'likes')
        %li= link_to 'Most commented', browse_path(trending:'comments')
        %li= link_to 'Popular this week', browse_path(trending:'popular')
        
    %li
      %h4
        Category
      %ul.filters-link
        - @categories.each do |c|
          %li= link_to c.name, browse_path(category:c.name)
        
    %li
      %h4
        Date
      %ul.filters-link
        %li= link_to 'Newest', browse_path(date:'newest')
        %li= link_to 'Oldest', browse_path(date:'oldest')
        
    %li
      %h4
        Tags cloud
      %ul.filters-link.tags-cloud
        - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
          = link_to tag.name, browse_path(tag:tag.name), :class => css_class
  %hr