!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    %meta{name:"description", content:"Free stop motion animation video gallery, tutorials, guides and community. We aim at giving you only the best of the best so you can be amazed by the creativity of stop-motion videos."}
    %meta{name:"keywords", content:"stop-motion,stop motion,stop,motion,animation,tutorial,gallery,video,guides,learn,watch,browse,community"}
    %meta{name:"author", content:"Justin Domingue, BR41N1"}
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0" }
    
  %body
    = render 'layouts/nav'
    .container-fluid
      .flash-messages
        - flash.each do |name, msg|
          .alert{class:"alert-#{name}"}
            %button.close{"data-dismiss"=>"alert"}x
            = msg
      = yield
    %hr
    %footer
      %p
        &copy; 2012
        = link_to 'MotionBombs', root_path